.modal{
    background-color: aqua;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 10;
    transform: scale(1,1);
    transition: visibility 0s linear 0.25s,opacity 0.25s,transform 0.25s;
}
.modal-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    width: 25rem;
    text-align: center;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;


}
.close-button{
    float: right;
    width: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: rgb(240, 231, 231);
}

.close-button:hover{
    background-color: darkgrey;

}

